body {
  background-color: black;
  color: white;
}
h1 {
  color: #ffff00;
  border-style: solid;
  border-color: #ffff00;
  border-radius: 5px;
  padding: 20px;
}
p {
  margin-left: 0px;
  margin-right: 0px;
  padding: 1.1em;
}
#p1 {
  color: red;
  border-style: dashed;
  border-color: red;

}
#p2 {
  color: green;
  border-style: dotted;
  border-top-color: #ffff00;
  border-bottom-color: blue;
  border-left-color: green;
  border-right-color: red;
}
#p3 {
  color: blue;
  border-style: double;
  
}
#shadow {
  text-shadow: 3px 3px 5px;
}